body {
    font-family: montserrat;
}

a {
    text-decoration: none !important;
}

section {
    padding-top: 6rem;
}

.btn-primary:hover {
    background-color: orange;
}

.navbar-brand span {
    color: darkblue;
    font-weight: 500;
}

.nav-link {
    text-transform: uppercase;

}

.nav-link:hover {
    color: darkblue !important;
    border-bottom: 1px solid darkblue;
}

.jumbotron {
    margin-top: 60px;
    height: 480px;
    background-color: #F6F4F4;
}

.jumbotron span {
    color: darkblue;
    font-weight: 500;
}

.jumbotron h3 {
    font-size: 42px;
    margin-top: 40px;
}


.jumbotron img {
    visibility: hidden;
}

#about span {
    font-weight: 100;
}

#skills {
    /* margin-top: 80px; */
    background-color: #F6F4F4;
}

#skills span {
    font-weight: 100;
}

/* #portofolio {
    margin-top: 80px;
} */

#portofolio span {
    font-weight: 100;
}


@media (min-width: 992px) {
    .jumbotron h3 {
        font-size: 42px;
        /* margin-top: 60px; */
    }

    .jumbotron img {
        width: 260px;
        height: 353px;
        visibility: visible;
    }
}

/* @media (min-width: 768px) { 
    .jumbotron img {
        width: 260px;
        height: 353px;
        visibility: visible;
    }
  }
 
 @media (min-width: 576px) { 
    .jumbotron h3 {
        font-size: 42px;
        margin-top: 20px;
    }
    
    .jumbotron img {
        width: 260px;
        height: 353px;
    }
 } */